header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search_bar {
    display: flex;
    height: 30px;
}

.search_bar input {
    width: 421px;
    border: 1px solid #127FFF;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    padding-left: 5px;
    box-shadow: 0px 0px 10px 0px rgb(211, 210, 210);
}

.search_bar select {
    width: 145px;
    border: 1px solid #127FFF;
    box-shadow: 0px 0px 10px 0px rgb(211, 210, 210);

}

.search_bar button {
    width: 100px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid #127FFF;
    background-color: #127FFF;
    color: white;
    box-shadow: 0px 0px 10px 0px rgb(211, 210, 210);

}

.icons {
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.profile_icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: gray;
    font-size: 10px;
}

.profile_icon a img {
    height: 30px;
}

.message_icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: gray;
    font-size: 10px;
}

.message_icon a img {
    height: 30px;
}

.heart_icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: gray;
    font-size: 10px;
}

.heart_icon a img {
    height: 30px;
}

.cart_icon a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: gray;
    font-size: 10px;
}

.cart_icon a img {
    height: 30px;
}

nav {
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(211, 210, 210);
    box-shadow: 5px 0px 5px 0px rgb(211, 210, 210);
}

.category {
    display: flex;
    width: 620px;
    justify-content: space-between;
    font-size: 14px;
}

.burger_menu img {
    height: 30px;
}

.shipping_lang {
    display: flex;
    width: 250px;
    justify-content: space-between;
}

.ship-to-container {
    display: flex;
    align-items: center;
}


/* The Dropdown Wrapper */
.custom-dropdown {
    position: relative;
    /* Needed to place the list below absolutely */
    cursor: pointer;
}

/* The visible button area */
.selected-option {
    display: flex;
    align-items: center;
    gap: 5px;
}

.arrow {
    font-size: 12px;
    color: #666;
}

/* Standard size for all flags */
.flag-icon {
    width: 24px;
    height: 16px;
    object-fit: cover;
    border: 1px solid #ccc;
    /* Thin border like in your image */
}

/* The Hidden List */
.dropdown-options {
    display: none;
    /* Hidden by default */
    position: absolute;
    top: 100%;
    /* Push it right below the button */
    left: auto;
    right: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 100;
    /* Ensure it floats on top of other content */
}

/* Show the list when the class 'show' is added */
.dropdown-options.show {
    display: block;
}

/* Style for list items */
.dropdown-options li {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #eee;
}

.dropdown-options li:hover {
    background-color: #f0f0f0;
}

footer {
    background-color: #e9e9e9;
}

.subscribe {
    display: flex;
    justify-content: center;
    padding: 40px 0px 40px 0px;
}

.newsletter {
    display: flex;
    justify-content: center;
}

.subscribe_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;`''
}

.email input {
    width: 300px;
    padding: 0px 0px 0px 8px;
    border-radius: 8px;
}

.subscribe_btn {
    color: white;
    background-color: #127FFF;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 30px 0px 50px 0px;
}

.brand {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.heading {
    font-weight: bold;
    padding-bottom: 10px;
}

.end_of_page {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 30px 30px;
}

.last_text {
    display: flex;
    width: 100px;
    justify-content: space-between;
}